@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the DotnetAzureB2C project</h2>
        <p>Please, <a href="https://localhost:5001/v1/auth/login">login</a> to see your data</a>.
    </div>
</div>
